.preview img{
  width: 100px;
  height: auto;
}
.preview img:not(:last-child){
  margin-right: 10px;
}

.main-block input:focus{
  outline: 0;
}
.fas.fa-check{
  font-size: 12px;
  margin: 0 5px;
  color: green;
}
.fas.fa-times{
  font-size: 18px;
  margin: 0 5px;
  color: red;
}
